body{
    background-color: greenyellow;
    margin: 0;
    padding: 0;
}
.box {
    display: grid;
    width: 240px;
    height: 240px;
    margin: 100px;
    background-color: brown;
    border-radius: 10px;
    border: solid rgb(245, 95, 95);
}

.box:hover{  
    transform: rotateZ(45deg);
    background-color: aqua;
    opacity: 50%;
    transition: 3s;
}